.header-container {

    width: 50%;
    margin: 0 auto;
    text-align: center;
}

header {

    width: 100%;
}

body, .body {

    width: 100%;
}

.body-container {

    width: 80%;
    margin: 0 auto;
}

.button {

    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #001f3f;
    background-color: #7fdbff;
    box-shadow: 0 5px 5px 0 #0074d9;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    margin: 15px 0;
}

#title {

    color: red;
    padding: 30px 0;
    font-size: 24px;
    font-weight: bolder;
}

h3, h4 {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
}

footer {

    width: 100%;
}

footer span {

    float: right;
}

.list-container {

    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.list-container ul {

    width: 33.3%;
    float: left;
}

ul {

    font-size: 18px;
    font-weight: bold;
}

ul li {

    font-size: 16px;
    font-weight: normal;
    padding-top: 7px;
}