.header-container {

    width: 50%;
    margin: 0 auto;
}

.body {

    width: 100%;
}

.body-container {

    width: 80%;
    margin: 0 auto;
}

.button {

    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #001f3f;
    background-color: #7fdbff;
    box-shadow: 0 5px 5px 0 #0074d9;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
}

#title {

    color: red;
}

footer span {

    float: right;
}